<!DOCTYPE html>
<html>
<head>

    <title>
        {% block title %}
        Library Documentation
        {% endblock %}
    </title>

</head>

<body>

    <aside>
        <h2>Documentation</h2>

        <ul>
            <li><a href="/docs/getting-started">Getting Started</a></li>
            <li><a href="/docs/api">API</a></li>
            <li><a href="/docs/tutorials">Tutorials</a></li>
        </ul>
    </aside>

    <main>
        {% block content %}
        {{ content }}
        {% endblock %}
    </main>

</body>
</html>